.button {
  background-color:   #777;
  border:             2px solid #777;
  border-radius:      $button-border-radius-base;
  color:              #000;
  font-weight:        400;
  line-height:        1.2;
  padding:            10px 15px;
  text-transform:     uppercase;
  transition:         100ms ease-in-out;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: #fff;
  }
}

.button--block {
  display: block;
  width:   100%;
}

.button--grey-solid {
  background-color: #191818;
  border-color:     #191818;
  color:            #fff;
}
