.form {
}

.form__input {
  border:        1px solid #ececec;
  border-radius: $border-radius-base;
  display:       block;
  font-size:     14px;
  line-height:   1.2;
  padding:       10px 15px;
  width:         100%;

  &:focus {
    outline: none;
  }
}

.form__row {
  margin-top:    $gutter / 2;
  margin-bottom: $gutter / 2;
}

.form__button {
}

.form__label {
  font-size: 14px;
}